%footer#footer
  %span.copyright &copy; 2004 - 2012 James Florentino. Some Rights Reserved.
  = link_to 'Creative Commons BY-NC.', 'http://creativecommons.org/licenses/by-nc/3.0/', :target => '_blank'
  %div.credits
    This static blog is built with #{link_to 'Middleman', 'http://middlemanapp.com/', :target => '_blank'}.
