// ====================================================
// Font families
// ====================================================
$blueprint-font-family: Lato, Helvetica Neue, Arial, sans-serif
$blueprint-font-family: Exo, Helvetica Neue, Arial, sans-serif
$blueprint-font-size: 13px
$font-family-body: Lato, Helvetica Neue, Arial, sans-serif

// ====================================================
// Colors
// ====================================================

$title-color: white
$font-color: #9bb
$alt-text-color: #688
$link-color: #ddc
$code-color: #eff
$border-color: #9c9
$link-hover-color: lighten($link-color, 100%)
$link-active-color: lighten($link-color, 1)
$link-visited-color: darken($link-color, 10%)

// ====================================================
// Grid
// ====================================================
$total-columns: 24
$column-width: 30px
$gutter-width: 10px
$grid-padding: 10px

@import blueprint/typography

+blueprint-typography()
