@import base
@import layout

// ========================================
// Basic styles
// ========================================
body
  $img-top: url(/images/background.png) center top no-repeat
  $img-repeat: url(/images/background_dot.png) center top
  $img-bottom: url(/images/background-bottom.png) center bottom no-repeat
  background: $img-bottom, $img-top, $img-repeat
